# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/

# Power BI (next phase)
*.pbix.bak
~$*

# Editors
.vscode/
.idea/

# Power BI project (PBIP) local files
**/.pbi/localSettings.json
**/.pbi/cache.abf
